<template name="peopleAdminList">
    <div class="row">
    <div class="col-lg-7">
            <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span>People</h1>
            <div>Listing {{getPublishedCount 'peopleListCount'}} records.</div>
    </div>

</div>
   {{> peopleList}}
</template>