<template name="adminLayout">
  <header>
    {{> adminTopbar }}
  </header>
    <div class="container-fluid">
        <div class="row-fluid">
            {{> adminSidebar }}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                {{> yield}}
                <div id="flash-message" class="alert-success"></div>
            </div><!-- end .main -->
        </div><!-- end .row -->
    </div><!-- end .container-fluid -->
    {{> bootstrapModal}}
</template>


<template name="adminSidebar">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="dashboard">
                <a href="/admin/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                    Dashboard</a>
            </li>
          {{#each collections}}
            <li class="{{handle}}">
                <a href="/admin/{{handle}}">
                  <span class="{{icon}}" aria-hidden="true"></span>
                  {{name}}
                </a>
            </li>
            {{/each}}
        </ul><!-- end .nav.nav-sidebar -->

        <!--<hr/>-->

        <!--<ul class="nav nav-sidebar">-->
            <!--<li class="reports">-->
                <!--<a href="/admin/reports"><span class="fa fa-area-chart"></span>Reports</a>-->
            <!--</li>-->
        <!--</ul>&lt;!&ndash; end .nav.nav-sidebar &ndash;&gt;-->

        <!--<hr/>-->
        
        <ul class="nav nav-sidebar">
            <!-- Hack because iron router is not letting us link to root -->
           <!--<li class="users">-->
             <!--<a href="/admin/users"><span class="glyphicon glyphicon-cog"></span>System Users</a>-->
           <!--</li>-->
        </ul><!-- end .nav.nav-sidebar -->
    </div><!-- end .sidebar -->
</template>


<template name="adminTopbar">
  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <!--<a class="navbar-brand" href="#">Front Desk Admin</a>-->
  <!--{{> contextMenu }}-->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li> 
        <a class="navbar-brand" href="#">Broke Spoke</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><div class="username">Logged in as <strong>{{username}}</strong>  |</div></li>
        <li><a id="admin-logout" href="#">Log Out</a></li>
    </ul>
  </div>
</nav>
</template>


<template name="contextMenu">
  <div class="dropdown">
      <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Front Desk Admin
        <!--<span class="caret"></span>-->
      </a>
        <!--<ul class="dropdown-menu" role="menu">-->
          <!--<li><a href="#">Action</a></li>-->
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li class="divider"></li>-->
          <!--<li class="dropdown-header">Nav header</li>-->
          <!--<li><a href="#">Separated link</a></li>-->
          <!--<li><a href="#">One more separated link</a></li>-->
        <!--</ul>-->
  </div>
</template>

<!--not implemented-->
<template name="adminBreadcrumb">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Timelogs</a></li>
    <li class="active">Data</li>
  </ol>
</template>
