<template name="timelogsAdminNew">
    <h1>New Timelog</h1>
    <p></p>
    {{#autoForm collection="Timelogs" id="insertTimelogsForm" class="form-horizontal" type="insert"}}
    <div class="form-group person">
        <label class="col-sm-3 control-label">Person:</label>
        <div class="col-sm-6">
            {{> inputAutocomplete settings=settings id="personAutocomplete" class="form-control" placeholder="Search by last name..."}}
          <span class="selectedPerson" style="display:none">
             <p class="form-control-static">
                              <span class="name">
                                {{this.timelog.person.firstName}} {{this.timelog.person.lastName}}
                              </span>
                 <button class='delete btn btn-link btn-alert clear'>
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
             </p>
          </span>
          <span class="help-block"></span>
        </div>
  </div>
        {{> afFieldInput name='personId' type="hidden"}}
        {{> afQuickField name='activityType' id='activityType' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='startTime' id='startTime' template="bootstrap3-horizontal" value=now type='datetime-local' label-class="col-sm-3" input-col-class="col-sm-6"}}
        {{> afQuickField name='endTime' id='endTime'  template="bootstrap3-horizontal" value=later type='datetime-local' label-class="col-sm-3" input-col-class="col-sm-6"}}
        <div class="payment"  style="display:none">
            {{> afQuickField name='paymentType' id='paymentType' template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-6"}}
        </div>

        <button type="submit" class="btn btn-primary">Create New Timelog</button>
    {{/autoForm}}
</template>

