<template name="signInSelect">
    <h3>Returning Visitors</h3>
    <div class="form-group person returning-visitor">
        <!--<label class="col-sm-3 control-label"></label>-->
    {{> inputAutocomplete settings=settings id="personAutocomplete" class="form-control input-lg" placeholder="Type your last name to sign in."}}
    </div>
    <h3>New Visitors</h3>
    <button type="button" class="btn btn-primary btn-lg register pull-right btn-block"  data-activityType="other"><strong>New Visitors Click Here To Register</strong></button>
    <!--<a id="register" href="">Register...</a>-->
</template>