<template name="bootstrapAlerts">
    {{#each alerts}}
        {{> bootstrapAlert}}
    {{/each}}
</template>

<template name="bootstrapAlert">
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
</template>
